body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 231, 231);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
/* Header title */
.bold-letter {
  width: 60%;
  max-width: 600px;
}

h1 {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
/* Back to homepage button */
.button-left a {
  background: grey;
  border-radius: 5px;
  border: 2px solid rgb(81, 79, 79);
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
  color: black;
}

.button-left a:hover {
  transform: scale(0.9);
}
/* 1st Generation Pokemon cards container */
.poke-container {
  background-color: rgb(248, 248, 251);
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  max-width: 1440px;
}
/* Pokemon cards */
.pokemon {
  padding: 1.25rem;
  border-radius: 0.75rem;
  background-color: beige;
  margin: 0.5rem 0;
  cursor: pointer;
}

.img-container {
  min-width: 200px;
  min-height: 200px;
  text-align: center;
}
/* Footer Copyright */
footer {
  display: flex;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: rgb(240, 231, 231);
}

footer p {
  font-weight: 600;
  font-size: large;
}

@media (max-width: 768px) {
  .poke-container {
    max-width: 768px;
    width: 100%;
  }
  .img-container {
    min-width: 200px;
    min-height: 200px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header {
    max-width: 600px;
  }

  .poke-container {
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .pokemon {
    min-width: 200px;
  }
}
